In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('P32_Gulafsa_Final_P32_001_24_9_22_.csv')

In [3]:
data

,Unnamed: 0,Tree number,Time elapsed,Decision,Reaction time,Reward,Cumulative reward per tree,Total cumulative reward
0,0,1,3.605995,stay,1.006883,94,94,94
1,1,1,6.554088,stay,0.554949,85,179,179
2,2,1,9.857698,stay,0.592550,75,254,254
3,3,1,13.015609,stay,0.534275,62,316,316
4,4,1,16.195638,stay,0.614127,47,363,363
...,...,...,...,...,...,...,...,...
59,59,8,281.944027,stay,0.667943,45,344,3278
60,60,8,285.169653,stay,0.776938,42,386,3320
61,61,8,288.355954,stay,0.746759,34,420,3354
62,62,8,291.783997,stay,1.041218,20,440,3374
63,63,8,295.075630,leave,0.766400,0,440,3374

In [4]:
stay_data_p32_env1 = data[data['Decision'] == 'stay' ]
leave_data_p32_env1 = data[data['Decision'] == 'leave' ]

In [6]:
stay_data_p32_env1.to_csv('stay_data_p32_env2.csv', index=False)
leave_data_p32_env1.to_csv('leave_data_p32_env2.csv', index=False)